@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #060f44;
}
.nav_container{
    display: flex;
    flex-direction: row;
    background-color: #292929;
    animation: entrada02 .3s ease-in;
}
.navigator{
    display: flex;
}
.link{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 0px 10px;
    padding: 15px;
}
.link a{
    text-decoration: none;
    color: #00fff2;
}
.link:hover a{
    color: #292929;
    transition: ease-in;
}
.link:not(:hover) a{
    transition: ease-out;
}

.home:hover{
    background: #ff9100;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.home:not(:hover){
    transition: 0.2s ease-out;
}
.caract:hover{
    background: #fbff00;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.caract:not(:hover){
    transition: 0.2s ease-out;
}
.vent_desvent:hover{
    background: #ff0026;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.vent_desvent:not(:hover){
    transition: 0.2s ease-out;
}
.estabildd_rendimnt:hover{
    background: #00fff2;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.estabildd_rendimnt:not(:hover){
    transition: 0.2s ease-out;
}
.seguridad:hover{
    background: #ff00e1;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.seguridad:not(:hover){
    transition: 0.2s ease-out;
}
.costo:hover{
    background: #48ff00;
    letter-spacing: 4px;
    transition: 0.2s ease-in;
}
.costo:not(:hover){
    transition: 0.2s ease-out;
}

.section_container{
    display: flex;
    flex-direction: row;
}
.section{
    position: relative;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 30px 30px;
    color: #00fff2;
    animation: entrada .3s ease-in;
}
.subtitulo{
    font-family: 'Monserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 30px 30px;
    color: #fbff00;
    animation: entrada .3s ease-in;
}
.img{
    display: flex;
    box-sizing: content-box;
}
.img img{
    height: 200px;
    width: 400px;
    margin: 20px 30px;
    border: 3px solid #fbff00;
    border-radius: 20px;
    animation: entrada .3s ease-in;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monserrat', sans-serif;
    font-size: 25px;
    margin: 20px 30px;
    color: #fff;
    animation: entrada .3s ease-in;
}
.section_container{
    display: flex;
    flex-direction: column;
}
.section{
    position: relative;
}

.li_ordenados{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 30px 40px;
    animation: entrada .3s ease-in;
}
.li_desordenados{
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin: 30px 40px;
    margin-top: 15px ;
    margin-bottom: 30px;
    width: 1000px;
    animation: entrada .3s ease-in;
}

.footer{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 4px;
    text-align: center;
    background-color: #292929;
    color: #00fff2;
    animation: entrada03 .3s ease-in;
}
.footer footer{
   padding: 5px;
   margin: 0px 20px;
}
.link_footer{
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
}
.link_footer:hover{
   color: #fbff00;
   transition: .1s ease-in;
}
.link_footer:not(:hover){
    transition: .1s ease-in;
 }

 @keyframes entrada{
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }

 @keyframes entrada02{
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }
 @keyframes entrada03{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
 }


 @media(max-width: 630px){
    .nav_container{
        min-width: 100%;
        white-space: nowrap;
    }
    .link{
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-weight: 600;
        margin: 0px 10px;
        padding: 15px;
    }
    .section_container{
        display: flex;
        flex-direction: column;
    }
    .section{
        position: relative;
    }
    .titulo{
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        font-weight: 600;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: 4px;
        white-space: nowrap;
        margin: 30px 30px;
        color: #00fff2;
        animation: entrada .3s ease-in;
    }
    .subtitulo{
        font-family: 'Monserrat', sans-serif;
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 2px;
        margin: 30px 30px;
        color: #fbff00;
        animation: entrada .3s ease-in;
    }
    .img img{
        height: 400px;
        width: 1000px;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 20px 30px;
        border: 3px solid #fbff00;
        border-radius: 20px;
        animation: entrada .3s ease-in;
    }
    .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: 'Monserrat', sans-serif;
        font-size: 35px;
        margin: 20px 30px;
        color: #fff;
        animation: entrada .3s ease-in;
    }
 }
